@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewBag.Message</h2>
<h2>@ViewBag.CurrentDate</h2>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- inline expression statement-->
<p>today date and time is @DateTime.Now</p>
<p> this year is @DateTime.Now.Year</p>

<!--declaring variables-->
@{
    string name = "Learning never ends";
    var TodaysTime = DateTime.Now.ToLongTimeString();
}
<h2> Name @name @TodaysTime</h2>
<!-- Conditional statement-->
@{
    int marks = 80;
    if (marks >= 80)
    {
        <h2> your grade is A1</h2>
    }
    else{
        <h2>a</h2>
    }
}
<!-- Saccess message from Controller-->
@ViewData["Message"]
<ul>
@{
    foreach (string i in (string[])ViewData["FruitArray"])
    {
        <li>@i</li>
    }
}
</ul>

@{
    var a = (learnMVC.Models.Employee)ViewData["Employee"];
    }
<p>Employee Name  @a.EmpName</p>
@Html.Partial("_EmployeeList")
@{
    Html.RenderPartial("_EmployeeList");
}